body {
   font-family: 'Garamond', sans-serif, Times New Roman;
}

.name {
  font-weight: 300;
  color: #a31e0f;
}
div id=".basic-info" {
  
}

.sections {
  text-decoration:underline;
  color: #51039e;
}

.companyname {
  border-bottom: 1px solid
}

.duration {
 float: right; 
}

cnd" {
 display: block; 
}
