body {
   font-family: 'Garamond', sans-serif, Times New Roman;
   margin-left: 200px;
   margin-right: 200px;
   margin-top: 0px;
   margin-bottom: 0px;
  background-image: url(https://image.freepik.com/free-vector/seamless-pattern_1159-5086.jpg);
   background-repeat: repeat;
}

#info {
   border: 2px dashed #000
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px; 
}

.name {
  font-size: 2rem;
  color: #a31e0f;
  text-align: center;
   padding-top: 30px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px; 
}

#nav {
 text-align: center;
}
 
#nav a {
 background: #444;
 color: #fff;
 margin-right: 30px;
 width: 50px;
 height: 30px;
 text-decoration: none;
 -webkit-transition: all 0.5s ease;
}
 
#nav a:hover {
 background: #6fcbf3;
}

.sections {
  text-decoration:underline;
  color: #51039e;
  text-align: center;
}

.companyname {
   border-bottom: 1px solid #000
}

.duration {
   float: right;
}

ul {
   font-size: 1rem;
}
   
img {
    transition:transform 0.25s ease;
   margin-left: 200px;
   margin-right: 200px;
   margin-top: 100px;
   margin-bottom: 100px;
  
}

img:hover {
    -webkit-transform:scale(2);
    transform:scale(2);
}

#award {
   font-style: italic;
}

#boston {
   border: 2px solid #000;
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   margin-top: 10px
   margin-bottom: 10px;
   margin-right: 0px;
   margin-left: 0px;
}

#tempspec {
   border: 2px solid #000;
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   margin-top: 10px
   margin-bottom: 10px;
   margin-right: 0px;
   margin-left: 0px;
}

#mico {
   border: 2px solid #000;
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   margin-top: 10px
   margin-bottom: 10px;
   margin-right: 0px;
   margin-left: 0px;
}

#ccab {
   border: 2px solid #000;
  padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   margin-top: 10px
   margin-bottom: 10px;
   margin-right: 0px;
   margin-left: 0px;
}

#reftext {
   border: 2px dotted #000
}
 #reftable1 {
padding: 10px;
}

#reftable2 {
padding: 10px;
}
