body {
   font-family: 'Garamond', sans-serif, Times New Roman;
   margin-left: 30px;
   margin-right: 30px;
}

.name {
  font-size: 2rem;
  color: #a31e0f;
  text-align: center;
}

.sections {
  text-decoration:underline;
  color: #51039e;
  text-align: center;
}

.companyname {
   border-bottom: 1px solid #000
}

.duration {
   float: right;
}

ul {
   font-size: 1rem;
}
   
img {
    transition:transform 0.25s ease;
   margin-left: 200px;
   margin-right: 200px;
   margin-top: 100px;
   margin-bottom: 100px;
  
}

img:hover {
    -webkit-transform:scale(2);
    transform:scale(2);
}

#award {
   font-style: italic;
}

